<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Preparation:</strong>
    <%= recipe.preparation %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= recipe.time %>
  </p>

  <p>
    <strong>Cooking:</strong>
    <%= recipe.cooking %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= recipe.time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= recipe.public %>
  </p>

</div>
